body {
    background-image: url("drawkit-fast-food-colour.svg");
    background-size: 50%;
    background-position-x: center;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden
}